<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PyPong</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/css/styles.css"/>
    <link rel="stylesheet" href="./static/css/wing.css"/>
</head>

<body>
<script type="text/javascript">
  setInterval(function()
    {
     $.getJSON('/get_values',
        {},
        function(data)
        {
            $("#fastest_streak").text(data['fastest_streak']);
            $("#longest_streak").text(data['longest_streak']);
            $("#last_streak_speed").text(data['last_streak_speed']);
            $("#last_streak_length").text(data['last_streak_length']);
            console.log(data['game_is_on'])
            if (data['game_is_on']==true){
                $("#smiley").removeClass().addClass('fa fa-frown-o fa-stack-1x fa-inverse');
                $("#mark").removeClass().addClass('fa fa-ban text-danger');
                $("#alert").prop('style', 'display:');
                $("#subtext").text("Pffft... Table is busy... Again.");
                }
            else {
                $("#smiley").removeClass().addClass('fa fa-smile-o fa-stack-1x fa-inverse');
                $("#mark").removeClass().addClass('fa fa-check text-success');
                $("#alert").prop('style', 'display: none');
                $("#subtext").text("Awesome! Table is free!");
            };
        });
    },
    200);
</script>
<header>
    <section class="hero container center text-center">
      <div>
        <img src="./static/media/pypong.png" alt="PyPong Logo" height="125">
        <h3>PyPong</h3>
        <h5>Internet of Ping Pong Things</h5>
      </div>
    </section>
</header>

<section id="leaderboard" class="container">
  <div>
    <h3 class="header text-center">Leaderboard</h3>
    <div class="row text-center">
      <div class="col">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
        </span>
        <h5 class="text-center">Fastest BPM</h5>
        <p class="content" id="fastest_streak">0</p>
      </div>
      <div class="col">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
        </span>
        <h5 class="text-center">Longest Streak</h5>
        <p class="content" id="longest_streak">0</p>
      </div>
    </div>
  </div>
</section>

<section id="gameplay" class="container">
      <div>
    <h3 class="header text-center">Current Game</h3>
    <h5> {% if data.game_is_on %}
      <div id="alert" class="alert alert-info" >
        <p>Send an SMS to <strong>075 2063 xxxx</strong> to know when the table becomes free.</p>
      </div>
    {% endif %}
    </h5>
    <div class="row text-center">
      <div class="col">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-arrows-h fa-stack-1x fa-inverse"></i>
        </span>
        <h5 class="text-center">Bounces Per Minute</h5>
        <p class="content" id="last_streak_speed">0</p>
      </div>
      <div class="col">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i id="smiley" class="fa {% if data.game_is_on%}fa-frown-o{% else %}fa-smile-o{%endif%} fa-stack-1x fa-inverse"></i>
        </span>
        <h5 class="text-center">
         {% if not data.game_is_on %}
            Awesome! Table is free!
         {% else %}
            Pffft... Table is busy... Again.
         {% endif %}</h5>
        <p class="content">
            {% if not data.game_is_on %}
                <i class="fa fa-check text-success" id="mark"></i>
            {% else %}
                <i class="fa fa-ban text-danger" id="mark"></i>
            {% endif %}
        </p>
      </div>
      <div class="col">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
        </span>
        <h5 class="text-center">Last Streak Length</h5>
        <p class="content" id="longest_streak">0</p>
      </div>
    </div>
  </div>
</section>

<script src="/static/js/jquery.js"></script>

</body>
</html>

